<div class="container">
  <!-- <div class="row" style="height: 70vh" > -->
  <!-- <div class="row" style="height: 50vh" > -->
  <div class="row mt-4">
    <!-- <div class="col border-3 mb-2 ml-2 mr-2"> -->
      <!-- <div class="card" style="width: 18rem;"> -->
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-animal-style pos-relative">
          <div class="card-animal-img">
            <%= image_tag image_path("img-creative/animal.crocodile-SUMMER-5.jpg"), class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Crocodile</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to animal</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-animal-style pos-relative">
          <div class="card-animal-img">
            <%= image_tag image_path("img-creative/animal.panda-SUMMER-2.jpg"), class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Panda</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to animal</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-animal-style pos-relative">
          <div class="card-animal-img">
            <%= image_tag image_path("img-creative/animal.giraffe-SUMMER.jpg"), class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Giraffe</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
            <a href="#" class="btn btn-primary">Go to animal</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-animal-style pos-relative">
          <div class="card-animal-img">
            <%= image_tag image_path("img-creative/animal.dolphin-SUMMER.jpg"), class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Dolphin</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-animal-style pos-relative">
          <div class="card-animal-img">
            <%= image_tag image_path("img-creative/animal.codfish-SUMMER-3.jpg"), class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Codfish</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-animal-style pos-relative">
          <div class="card-animal-img">
            <%= image_tag image_path("img-creative/animal.swallow-SUMMER-3.jpg"), class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" cl_image_tagss="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Swallow</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-animal-style pos-relative">
          <div class="card-animal-img">
            <%= image_tag image_path("img-creative/animal.turtle-SUMMER.jpg"), class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" cl_image_tagss="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Turtle</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to plant</a>
          </div>
        </div>
      </div>

    <!-- </div> -->
  </div>
</div>
